@if (data$ | async; as data) {
  <div class="auth-page">
    <div class="container-page">
      <div class="row">
        <div class="col-md-6 offset-md-3 col-xs-12">
          <h1 class="text-xs-center">Sign Up</h1>
          <p class="text-xs-center">
            <a routerLink="/register">Need an account?</a>
          </p>
          @if (data.validationErrors) {
            <app-backend-error-messages
              [backendErrors]="data.validationErrors"
            ></app-backend-error-messages>
          }
          <form [formGroup]="loginForm" (submit)="onSubmit()">
            <fieldset class="form-group">
              <input
                type="email"
                class="form-control form-control-lg"
                placeholder="Email"
                name="email"
                formControlName="email"
                required
              />
            </fieldset>
            <fieldset class="form-group">
              <input
                type="password"
                class="form-control form-control-lg"
                placeholder="Password"
                name="password"
                formControlName="password"
                required
              />
            </fieldset>
            <button
              type="submit"
              class="btn btn-lg btn-primary pull-xs-right"
              [disabled]="data.isSubmitting"
            >
              Sign in
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
}
